.candidateslist {
  max-width: 1020px;
  margin: 48px auto;
  width: 100%;
}

.candidateslist a {
  text-decoration: none;
}

.candidateslist main {
  display: flex;
  justify-items: center;
  align-items: center;
  justify-content: space-between;

  height: 72px;
  padding: 7px;
  background: $WHITE;
  border: 2px solid $SHADOW;
  box-shadow: 0px 1px 9px 3px $SHADOW;
}

.candidateslist main:first-child {
  border-radius: 4px 4px 0 0;
}

.candidateslist main:last-child {
  border-radius: 0 0 4px 4px;
}

.candidateslist main div {
  display: flex;
  justify-items: center;
  align-items: center;
}

.candidateslist main div img {
  border-radius: 50%;
  margin-left: 14px;
  height: 42px;
}

.candidateslist main div p {
  color: $LIGHT_GRAY;
  font-size: 17px;
}

.candidateslist main div p + p {
  padding-left: 42px;
}

.candidateslist main div h3 {
  padding-left: 22px;
  color: $DARK_BLUE;
}

.candidateslist main div svg:last-child {
  margin-right: 14px;
}

.candidateslist main div svg + svg {
  margin-left: 22px;
}
