.container {
  background: $DARK_BLUE;
}

.container header {
  display: flex;
  justify-content: center;
  box-shadow: 3px 3px 3px 3px $SHADOW;
}

.container header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 68px;
  padding: 0 42px;
  color: $WHITE;
  min-width: 1335px;
  font-size: 14px;

  @media #{$BREAKPOINT_MOBILE} {
    min-width: 440px;
  }
}

.container nav img {
  height: 42px;

  @media #{$BREAKPOINT_MOBILE} {
    display: none;
  }
}

.container nav svg {
  display: none;

  @media #{$BREAKPOINT_MOBILE} {
    display: inline;
  }
}

.container nav input {
  width: 800px;
  height: 36px;
  border-radius: 50px;
  text-indent: 46px;
  border: none;
  font-size: 19px;
  color: $DARK_BLUE;
  font-weight: bold;

  @media #{$BREAKPOINT_MOBILE} {
    width: 190px;
  }
}

.container nav span img {
  border-radius: 50%;

  @media #{$BREAKPOINT_MOBILE} {
    display: inline;
  }
}
