.navbar {
  width: 100vw;
  height: 100vh;
  display: flex;
}

.navbar aside {
  width: 175px;
  background: $WHITE;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  box-shadow: 3px 3px 5px 3px $SHADOW;
}

.navbar aside ul li {
  list-style: none;
  margin: 20px 0;
}

.navbar aside ul li div {
  display: flex;
  align-items: center;
  justify-items: center;
}

.navbar aside ul li a {
  text-decoration: none;
  font-size: 19px;
  color: $LIGHT_GRAY;
  padding-left: 24px;
}

.navbar aside ul li a.active {
  color: $GREEN;
  font-weight: bold;
}
